/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  // color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
body {
  margin: 2em;
  background-color: #e4e4e4;
  // background-color: #333;
  // color: white;
}
body, input[type="text"], button {
  color: #a7a7a7;
  font-family: Cambria, Georgia, serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

a {
  color: #0098DA;
  font-size: large;
  text-decoration: none;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding-inline: 9rem;
}